.onlinelec-course-card-sec2-btn {
    margin-left: auto;
    color: rgb(248, 18, 87) !important;
    font-family: Open Sans,sans-serif;
    // border: 1px solid rgb(248, 18, 87) !important;
    font-size: .75rem;
    line-height: 1.5rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    height: 2.3rem;
    padding: 0 2rem;
    padding-top: 1rem ;
    background: #fff;
    cursor: pointer;
    // box-shadow: 0 0 8px 0 rgb(248, 18, 87), 0 4px 8px 0 rgba(17,22,26,.08), 0 8px 16px 0 rgba(17,22,26,.08);
}
.my-font{
    font-size: .75rem !important;
}
.text-color{
color: rgb(248, 18, 87) !important;
}
.card-courses-parent{
    padding:3rem !important;
}
@media(max-width:550px){

    .card-courses-parent{
        padding-left: 6rem !important; 
        padding-right: 0px !important;
    }
    .card-title-my{
        font-size: 18px;
    }
    .my-card-body{
        padding-left: 4px !important;
        padding-right: 4px !important;
    }
    .my-card-text{
        font-size: 13px !important;
    }
    .my-card-div{
        padding: 1rem !important;
    }
}
.card{
    border : 1px solid rgb(248, 18, 87) !important;
    border-top:5px solid rgb(248, 18, 87) !important;
}
.border-my{
    border-top:1px solid rgb(248, 18, 87) !important;
}
.course-arr-icon{
    font-size: 25px !important;
}